body {background-color: #aaffcc}
table {border: 2px solid black;}
th {background-color: #ffcc66; width: 400px; height: 40px;}
td {border: 1px solid black; height: 30px;}
p {text-align: center;}
h1 {text-align: center;}